<a href="https://colab.research.google.com/github/DiegoKNR/TF_201620127_201715721_201911924/blob/main/TF_Hito0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
!git clone https://github.com/DiegoKNR/TF_201620127_201715721_201911924.git

fatal: destination path 'TF_201620127_201715721_201911924' already exists and is not an empty directory.

In [74]:
from TF_201620127_201715721_201911924.aclib import graphstuff as gs

In [75]:
import pandas as pd 
import numpy as np 
import networkx as nx
import math

In [76]:
url = "https://raw.githubusercontent.com/DiegoKNR/TF-201620127-201715721-201911924/main/Database/Lima-intersecciones.csv"

intersecciones = pd.read_csv(url)

In [77]:
print(len(intersecciones))
intersecciones.head()

1000

,ID,ID CALLE,NOMBRE,ID ORIGEN,ID DESTINO,ORIGEN,DESTINO,DISTANCIA KM,VELOCIDAD KM/H,COSTO,COSTO INVERSO,LATITUD ORIGEN,LONGITUD ORIGEN,LATITUD DESTINO,LONGITUD DESTINO
0,1,4827820,PLAZA 2 DE MAYO,31035122,31035142,1,6,0.038973,70,0.000557,1000000.0,-12.045931,-77.042783,-12.046096,-77.043090
1,2,4827820,PLAZA 2 DE MAYO,31035142,31035109,6,90275,0.004040,70,0.000058,1000000.0,-12.046096,-77.043090,-12.046125,-77.043111
2,3,4827820,PLAZA 2 DE MAYO,31035109,31035110,90275,79,0.018227,70,0.000260,1000000.0,-12.046125,-77.043111,-12.046277,-77.043175
3,4,4827820,PLAZA 2 DE MAYO,31035110,31035112,79,51668,0.037674,70,0.000538,1000000.0,-12.046277,-77.043175,-12.046603,-77.043112
4,5,4827820,PLAZA 2 DE MAYO,31035112,31035113,51668,7,0.010827,70,0.000155,1000000.0,-12.046603,-77.043112,-12.046678,-77.043048

In [78]:
nomcalle = intersecciones['NOMBRE'].unique()
print(len(nomcalle))
nomcalle

55

array(['PLAZA 2 DE MAYO', 'PLAZA RAMON CASTILLA', 'ALFONSO UGARTE',
       'PLAZA FRANCISCO BOLOGNESI', 'PUENTE DEL EJERCITO',
       'VICENTE MORALES DUAREZ', 'CIRCUNVALACION', 'AVENIDA CAQUETA',
       'AV. ZARUMILLA', 'HECTOR GARCIA RIBEYRO', 'EL TREBOL',
       'AVENIDA TUPAC AMARU', 'FRANCISO PIZARRO',
       'DIEGO CORDOVA DE SALINAS', 'MARACAIBO', 'AV. PANAMERICANA NORTE',
       'VIA DE EVITAMIENTO', 'AV. JOSÉ GRANDA', 'AVENIDA ARGENTINA',
       'EMANCIPACION', 'OSCAR BENAVIDES', 'AVENIDA ENRIQUE FERMI',
       'AV. FRANCISO BOLOGNESI', 'AV. ANGÉLICA GAMARRA', 'AV. INDUSTRIAL',
       'CALLE GERARDO UNGER', 'NARANJAL', 'AV. NARANJAL', 'AV. BOCANEGRA',
       'AV. SANTIAGO ANTUNEZ DE MAYOLO', 'AV. LAS PALMERAS',
       'AV. LOS DOMINICOS', 'AV. SAENZ PEÑA',
       'ALEJANDRO BERTELLO BOLLATI', 'AVENIDA PERU', 'AV. PERÚ',
       'AV. 9 DE OCTUBRE', 'ABANCAY', 'METROPOLITANA',
       'AV. UNIVERSITARIA', 'AV. TOMAS VALLE', 'JOSE GRANDA',
       'AV. CANTA CALLAO', 'AVENIDA UNIVERSITARIA',
       'AURELIO MIRO QUESADA', 'ORRANTIA', 'SANTA CRUZ',
       'REPUBLICA DE PANAMA', 'AV. ARAMBURÚ', 'PLACENCIA',
       'LIZARDO ALZAMORA ESTE', 'LA NIÑA', 'CAVERO', 'SANTA MARIA',
       'RAYMUNDO MORALES DE LA TORRE'], dtype=object)

In [79]:
calles = dict()
for nom in nomcalle:
  calles[nom] = intersecciones[intersecciones['NOMBRE'] == nom]
  print(nom, len(calles[nom]))

PLAZA 2 DE MAYO 11
PLAZA RAMON CASTILLA 1
ALFONSO UGARTE 37
PLAZA FRANCISCO BOLOGNESI 15
PUENTE DEL EJERCITO 2
VICENTE MORALES DUAREZ 31
CIRCUNVALACION 3
AVENIDA CAQUETA 14
AV. ZARUMILLA 3
HECTOR GARCIA RIBEYRO 1
EL TREBOL 6
AVENIDA TUPAC AMARU 54
FRANCISO PIZARRO 21
DIEGO CORDOVA DE SALINAS 6
MARACAIBO 11
AV. PANAMERICANA NORTE 11
VIA DE EVITAMIENTO 14
AV. JOSÉ GRANDA 36
AVENIDA ARGENTINA 13
EMANCIPACION 5
OSCAR BENAVIDES 24
AVENIDA ENRIQUE FERMI 6
AV. FRANCISO BOLOGNESI 9
AV. ANGÉLICA GAMARRA 44
AV. INDUSTRIAL 24
CALLE GERARDO UNGER 19
NARANJAL 7
AV. NARANJAL 10
AV. BOCANEGRA 20
AV. SANTIAGO ANTUNEZ DE MAYOLO 44
AV. LAS PALMERAS 39
AV. LOS DOMINICOS 22
AV. SAENZ PEÑA 4
ALEJANDRO BERTELLO BOLLATI 21
AVENIDA PERU 16
AV. PERÚ 19
AV. 9 DE OCTUBRE 10
ABANCAY 17
METROPOLITANA 24
AV. UNIVERSITARIA 170
AV. TOMAS VALLE 26
JOSE GRANDA 8
AV. CANTA CALLAO 33
AVENIDA UNIVERSITARIA 28
AURELIO MIRO QUESADA 14
ORRANTIA 5
SANTA CRUZ 10
REPUBLICA DE PANAMA 3
AV. ARAMBURÚ 4
PLACENCIA 5
LIZARDO ALZAMORA ESTE 9
LA NIÑA 1
CAVERO 3
SANTA MARIA 1
RAYMUNDO MORALES DE LA TORRE 6